<template>
  <div class="home">
    <div class="flex">
      <div class="form">
        <base-input name="Фамилия" v-model="passport.lastName"></base-input>
        <base-input name="Имя" v-model="passport.firstName"></base-input>
        <base-input name="Отчество" v-model="passport.middleName"></base-input>
        <base-input
          name="Дата рождения"
          v-model="passport.birthDay"
        ></base-input>
        <div class="flex">
          <base-input
            name="Серия"
            v-model="passport.series"
            style="width: 80px;"
          ></base-input>
          <base-input name="Номер" v-model="passport.number"></base-input>
        </div>
        <base-input
          name="Дата выдачи паспорта"
          v-model="passport.issueDate"
        ></base-input>
        <search-select
          name="Код подразделения"
          :list="list"
          :selected="{ code: passport.code, name: passport.issueName }"
          @select-code="setCode($event)"
          @select-name="setName($event)"
        >
          <template v-slot:default="slotProps">
            {{ slotProps.item.code }} - {{ slotProps.item.name }}
          </template>
        </search-select>
        <div class="input-wrap">
          <label>Паспорт выдан</label>
          <div class="text">{{ passport.issueName }}</div>
        </div>
      </div>
      <div class="result">
        <pre>{{ passport }}</pre>
      </div>
    </div>
  </div>
</template>

<script>
import BaseInput from "../components/BaseInput";
import SearchSelect from "../components/SearchSelect";
import fmsList from "../assets/fms_unit";

export default {
  name: "home",
  components: {
    SearchSelect,
    BaseInput,
  },
  data() {
    return {
      passport: {
        lastName: "Киняев",
        firstName: "Фома",
        middleName: "Семенович",
        // code: "459-653",
        code: "503-063",
        issueName: "1 ОМ УВД ОДИНЦОВСКОГО РАЙОНА МОСКОВСКОЙ ОБЛ.",
        issueDate: "11.11.1995",
        birthDay: "10.04.1990",
        series: 4095,
        number: 233675,
      },
      list: fmsList,
    };
  },
  methods: {
    setCode(code) {
      this.passport.code = code;
    },
    setName(name) {
      this.passport.issueName = name;
    },
  },
};
</script>

<style>
.home {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}
.flex {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.form {
  width: 300px;
}

.form .text {
  width: 100%;
  font-weight: bold;
}

.result {
  width: 300px;
  padding: 0 16px;
  box-sizing: border-box;
}
</style>
