<template>
  <div class="input-wrap">
    <label :name="name">{{ name }}</label>
    <input
      class="input"
      type="text"
      :name="name"
      :value="value"
      @input="setValue($event)"
      @change="setValue($event)"
    />
  </div>
</template>

<script>
export default {
  name: "BaseInput",
  model: {
    prop: "value",
    event: "update-value",
  },
  props: {
    name: {
      type: String,
      requred: true,
    },
    value: {
      requred: true,
    },
  },
  data() {
    return {};
  },
  methods: {
    setValue(event) {
      this.$emit("update-value", event.target.value);
    },
  },
};
</script>

<style>
.input {
  width: 100%;
  font-size: 16px;
  padding: 4px 8px;
  box-sizing: border-box;
}
.input-wrap {
  margin-bottom: 16px;
}
</style>
