<template>
  <div class="search-select">
    <base-input :name="name" v-model="selectedItem.code"></base-input>
    <ul class="search-select-result">
      <li v-for="item in filteredList" :key="item" @click="select(item)">
        <slot :item="item"></slot>
      </li>
    </ul>
  </div>
</template>

<script>
import BaseInput from "./BaseInput";

export default {
  name: "SearchSelect",
  components: { BaseInput },
  props: {
    name: {
      type: String,
      require: true,
    },
    list: {
      type: Array,
      require: true,
    },
    selected: {
      type: Object,
      require: true,
    },
  },
  computed: {
    filteredList() {
      return this.list.filter((item) => item.code === this.selectedItem.code);
    },
  },
  data() {
    return {
      selectedItem: {
        code: null,
        name: "",
      },
    };
  },
  mounted() {
    this.selectedItem.code = this.selected.code;
    this.selectedItem.name = this.selected.name;
  },
  watch: {
    "selectedItem.code"(value) {
      this.$emit("select-code", value);
    },
  },
  methods: {
    select(item) {
      this.selectedItem.code = item.code;
      this.selectedItem.name = item.name;
      this.$emit("select-code", item.code);
      this.$emit("select-name", item.name);
    },
  },
};
</script>

<style>
.search-select {
}
.search-select-result {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.search-select-result li {
  margin-bottom: 8px;
}
</style>
